html
  head
  body
    form(action='/resForm', method='POST', role='form')
      p        
        |          Entrez votre nom: : 
        input(name='nom', value='', type='text')        
      input(value='Submit', type='submit')